@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff;
  --primary: #a28869;
  --secondary: #fff7f2;
  --hero-ratio: 0.57;
  --hero-bg: calc(var(--hero-ratio) * 100vw);
  --service-card-slide-size: 45%;
  --testimonial-card-slide-size: 50%
}

body {
  background: var(--background);
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  button + button {
    @apply ml-6;
  }
}

@layer components {
  .embla {
    overflow: hidden;
    margin: auto;
    --slide-spacing: 1rem;
  }
  .embla--testimonial {
    --slide-size: var(--testimonial-card-slide-size);
  }
  .embla__container {
    backface-visibility: hidden;
    display: flex;
    touch-action: pan-y pinch-zoom;
    margin-left: calc(var(--slide-spacing) * -1);
  }
  .embla__slide {
    flex: 0 0 var(--slide-size);
    min-width: 0;
    padding-left: var(--slide-spacing);
  }
  .embla__slide__number {
    backface-visibility: hidden;
  }

  .bg-img-hero-banner {
    background: rgb(2, 0, 36);
    background: linear-gradient(
      180deg,
      rgba(2, 0, 36, 0.3) 0%,
      rgba(11, 11, 14, 0) 100%
    );
  }
}
