@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff7f2;
  --primary: #a28869;
  --hero-ratio: 0.57;
  --hero-bg: calc(var(--hero-ratio) * 100vw);
}

body {
  background: var(--background);
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  button + button {
    @apply ml-6;
  }
}

@layer components {
}
