@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff;
  --primary: #a28869;
  --hero-ratio: 0.57;
  --hero-bg: calc(var(--hero-ratio) * 100vw);
}

body {
  background: var(--background);

  .embla {
    overflow: hidden;
    margin: auto;
    --slide-spacing: 1rem;
    --slide-size: 45%;
  }
  .embla__container {
    backface-visibility: hidden;
    display: flex;
    touch-action: pan-y pinch-zoom;
    margin-left: calc(var(--slide-spacing) * -1);
  }
  .embla__slide {
    flex: 0 0 var(--slide-size);
    min-width: 0;
    padding-left: var(--slide-spacing);
  }
  .embla__slide__number {
    backface-visibility: hidden;
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  button + button {
    @apply ml-6;
  }
}
